---
import { Image } from "astro:assets";
import logo from "../assets/images/logo.svg";
---

<section>
  <section class="body">
    <div>
      <a href="/"><Image class="logo" src={logo} alt="logo" /></a>
    </div>
  </section>
</section>

<style>
  @font-face {
    font-family: fahkwangRegular;
    src: url("/fonts/Fahkwang-Regular.ttf");
  }
  @font-face {
    font-family: PlayfairdisplayBold;
    src: url("/fonts/PlayfairDisplay-Bold.ttf");
  }
  @font-face {
    font-family: PlayfairdisplayRegular;
    src: url("/fonts/PlayfairDisplay-Regular.ttf");
  }
  @font-face {
    font-family: ZapfHumanist;
    src: url("/fonts/ZapfHumanist601Regular.ttf");
  }
  @font-face {
    font-family: fahkwangMedium;
    src: url("/fonts/Fahkwang-Medium.ttf");
  }
  @media (min-width: 1025px) {
    .logo {
      width: 250px;
      height: auto;
    }
    h1 {
    }
  }
</style>
